# Object and intermediate files
*.o
*.d

# Misc
/.settings/language.settings.xml

# Output folders
/Duet2/
/Duet2_SBC/
/DuetMaestro/
/PCCB_10/
/Duet3ATE/
/Duet3MiniATE/
/Duet3Mini5plus/
/Duet3Mini5plus_Debug/
/Duet3_MB6HC/
/Duet3_MB6XD/
/Duet3_CAN0/
/Duet3_Debug/
/FMDC_V02/
/FMDC_V02_Debug/
/FMDC_V03/
Duet3/Accelerometers.s
Duet3/AdditionalOutputSensor.s
Duet3/altcp.s
Duet3/altcp_alloc.s
Duet3/altcp_tcp.s
Duet3/api_lib.s
Duet3/api_msg.s
Duet3/Applet.s
Duet3/autoip.s
Duet3/AuxDevice.s
Duet3/BinaryParser.s
Duet3/BossaFlash.s
Duet3/bridgeif.s
Duet3/bridgeif_fdb.s
Duet3/CanInterface.s
Duet3/CanMessageGenericConstructor.s
Duet3/CanMotion.s
Duet3/CommandProcessor.s
Duet3/CoreKinematics.s
Duet3/CpuTemperatureSensor.s
Duet3/CRC16.s
Duet3/CRC32.s
Duet3/ctrl_access.s
Duet3/CurrentLoopTemperatureSensor.s
Duet3/DataTransfer.s
Duet3/DDA.s
Duet3/DDARing.s
Duet3/def.s
Duet3/Device.s
Duet3/Devices.s
Duet3/dhcp.s
Duet3/dhcp6.s
Duet3/DhtSensor.s
Duet3/diskio.s
Duet3/dns.s
Duet3/DriveMovement.s
Duet3/DriverMode.s
Duet3/Duet3DFilamentMonitor.s
Duet3/Duet3Firmware_MB6HC.bin
Duet3/Duet3Firmware_MB6HC.elf
Duet3/Duet3Firmware_MB6HC.map
Duet3/EefcFlash.s
Duet3/eh_alloc.s
Duet3/Endstop.s
Duet3/EndstopsManager.s
Duet3/err.s
Duet3/etharp.s
Duet3/ethernet.s
Duet3/ethernet_phy.s
Duet3/ethernet_sam.s
Duet3/ethip6.s
Duet3/ExceptionHandlers.s
Duet3/ExpansionManager.s
Duet3/ExpressionParser.s
Duet3/ExtruderSpeedCtrl.s
Duet3/Fan.s
Duet3/FansManager.s
Duet3/fattime_rtc.s
Duet3/ff.s
Duet3/ffunicode.s
Duet3/Filament.s
Duet3/FilamentMonitor.s
Duet3/FileInfoParser.s
Duet3/FileStore.s
Duet3/FirmwareUpdater.s
Duet3/FiveBarScaraKinematics.s
Duet3/Flasher.s
Duet3/FOPDT.s
Duet3/FtpResponder.s
Duet3/GCodeBuffer.s
Duet3/GCodeException.s
Duet3/GCodeFileInfo.s
Duet3/GCodeInput.s
Duet3/GCodeMachineState.s
Duet3/GCodeQueue.s
Duet3/GCodes.s
Duet3/GCodes2.s
Duet3/GCodes3.s
Duet3/GCodes4.s
Duet3/GlobalVariables.s
Duet3/GmacInterface.s
Duet3/GpInPort.s
Duet3/GpOutPort.s
Duet3/Grid.s
Duet3/HangprinterKinematics.s
Duet3/Heap.s
Duet3/Heat.s
Duet3/Heater.s
Duet3/HeaterMonitor.s
Duet3/HeightController.s
Duet3/HttpResponder.s
Duet3/I2C.s
Duet3/icmp.s
Duet3/icmp6.s
Duet3/if_api.s
Duet3/igmp.s
Duet3/inet6.s
Duet3/inet_chksum.s
Duet3/init.s
Duet3/InputMonitor.s
Duet3/InputShaper.s
Duet3/IoPorts.s
Duet3/ip.s
Duet3/ip4.s
Duet3/ip4_addr.s
Duet3/ip4_frag.s
Duet3/ip6.s
Duet3/ip6_addr.s
Duet3/ip6_frag.s
Duet3/Kinematics.s
Duet3/LaserFilamentMonitor.s
Duet3/LedStripDriver.s
Duet3/LinearAnalogSensor.s
Duet3/LinearDeltaKinematics.s
Duet3/LinuxInterface.s
Duet3/LIS3DH.s
Duet3/LocalFan.s
Duet3/LocalHeater.s
Duet3/LocalZProbe.s
Duet3/Logger.s
Duet3/lowpan6.s
Duet3/lowpan6_ble.s
Duet3/lowpan6_common.s
Duet3/LwipEthernetInterface.s
Duet3/LwipSocket.s
Duet3/Main.s
Duet3/makefile
Duet3/MassStorage.s
Duet3/mdns.s
Duet3/mem.s
Duet3/memcmp.s
Duet3/memcpy.s
Duet3/memmove.s
Duet3/memp.s
Duet3/memset.s
Duet3/mld6.s
Duet3/Move.s
Duet3/nano-mallocr.s
Duet3/nd6.s
Duet3/netbiosns.s
Duet3/netbuf.s
Duet3/netdb.s
Duet3/netif.s
Duet3/netifapi.s
Duet3/Network.s
Duet3/NetworkBuffer.s
Duet3/NetworkInterface.s
Duet3/NetworkResponder.s
Duet3/NonVolatileMemory.s
Duet3/ObjectModel.s
Duet3/objects.mk
Duet3/ObjectTracker.s
Duet3/OutputMemory.s
Duet3/PanelDueUpdater.s
Duet3/pbuf.s
Duet3/Pins_Duet3_V06.s
Duet3/Platform.s
Duet3/PolarKinematics.s
Duet3/PortControl.s
Duet3/PrintMonitor.s
Duet3/PulsedFilamentMonitor.s
Duet3/RandomProbePointSet.s
Duet3/raw.s
Duet3/RawMove.s
Duet3/RemoteFan.s
Duet3/RemoteHeater.s
Duet3/RemoteSensor.s
Duet3/RemoteZProbe.s
Duet3/RepRap.s
Duet3/RepRapFirmware.s
Duet3/RestorePoint.s
Duet3/Roland.s
Duet3/RotaryDeltaKinematics.s
Duet3/RotatingMagnetFilamentMonitor.s
Duet3/RoundBedKinematics.s
Duet3/RtdSensor31865.s
Duet3/Samba.s
Duet3/Scanner.s
Duet3/ScaraKinematics.s
Duet3/sd_mmc.s
Duet3/sd_mmc_mem.s
Duet3/sd_mmc_spi.s
Duet3/SensorWithPort.s
Duet3/sha1.s
Duet3/SharedSpiClient.s
Duet3/SharedSpiDevice.s
Duet3/SimpleFilamentMonitor.s
Duet3/slipif.s
Duet3/sockets.s
Duet3/SoftwareReset.s
Duet3/sources.mk
Duet3/Spindle.s
Duet3/SpiTemperatureSensor.s
Duet3/src/Accelerometers/Accelerometers.su
Duet3/src/Accelerometers/LIS3DH.su
Duet3/src/Accelerometers/subdir.mk
Duet3/src/bossa/Applet.su
Duet3/src/bossa/BossaFlash.su
Duet3/src/bossa/Device.su
Duet3/src/bossa/EefcFlash.su
Duet3/src/bossa/Flasher.su
Duet3/src/bossa/Samba.su
Duet3/src/bossa/subdir.mk
Duet3/src/bossa/WordCopyApplet.su
Duet3/src/bossa/WordCopyArm.su
Duet3/src/CAN/CanInterface.su
Duet3/src/CAN/CanMessageGenericConstructor.su
Duet3/src/CAN/CanMotion.su
Duet3/src/CAN/CommandProcessor.su
Duet3/src/CAN/ExpansionManager.su
Duet3/src/CAN/subdir.mk
Duet3/src/Comms/AuxDevice.su
Duet3/src/Comms/FirmwareUpdater.su
Duet3/src/Comms/PanelDueUpdater.su
Duet3/src/Comms/subdir.mk
Duet3/src/Duet3_V06/Pins_Duet3_V06.su
Duet3/src/Duet3_V06/subdir.mk
Duet3/src/Endstops/Endstop.su
Duet3/src/Endstops/EndstopsManager.su
Duet3/src/Endstops/LocalZProbe.su
Duet3/src/Endstops/RemoteZProbe.su
Duet3/src/Endstops/StallDetectionEndstop.su
Duet3/src/Endstops/subdir.mk
Duet3/src/Endstops/SwitchEndstop.su
Duet3/src/Endstops/ZProbe.su
Duet3/src/Endstops/ZProbeEndstop.su
Duet3/src/Fans/Fan.su
Duet3/src/Fans/FansManager.su
Duet3/src/Fans/LedStripDriver.su
Duet3/src/Fans/LocalFan.su
Duet3/src/Fans/RemoteFan.su
Duet3/src/Fans/subdir.mk
Duet3/src/FilamentMonitors/Duet3DFilamentMonitor.su
Duet3/src/FilamentMonitors/FilamentMonitor.su
Duet3/src/FilamentMonitors/LaserFilamentMonitor.su
Duet3/src/FilamentMonitors/PulsedFilamentMonitor.su
Duet3/src/FilamentMonitors/RotatingMagnetFilamentMonitor.su
Duet3/src/FilamentMonitors/SimpleFilamentMonitor.su
Duet3/src/FilamentMonitors/subdir.mk
Duet3/src/GCodes/GCodeBuffer/BinaryParser.su
Duet3/src/GCodes/GCodeBuffer/ExpressionParser.su
Duet3/src/GCodes/GCodeBuffer/GCodeBuffer.su
Duet3/src/GCodes/GCodeBuffer/StringParser.su
Duet3/src/GCodes/GCodeBuffer/subdir.mk
Duet3/src/GCodes/GCodeException.su
Duet3/src/GCodes/GCodeFileInfo.su
Duet3/src/GCodes/GCodeInput.su
Duet3/src/GCodes/GCodeMachineState.su
Duet3/src/GCodes/GCodeQueue.su
Duet3/src/GCodes/GCodes.su
Duet3/src/GCodes/GCodes2.su
Duet3/src/GCodes/GCodes3.su
Duet3/src/GCodes/GCodes4.su
Duet3/src/GCodes/ObjectTracker.su
Duet3/src/GCodes/RestorePoint.su
Duet3/src/GCodes/StraightProbeSettings.su
Duet3/src/GCodes/subdir.mk
Duet3/src/GCodes/Trigger.su
Duet3/src/GPIO/GpInPort.su
Duet3/src/GPIO/GpOutPort.su
Duet3/src/GPIO/subdir.mk
Duet3/src/Hardware/ExceptionHandlers.su
Duet3/src/Hardware/I2C.su
Duet3/src/Hardware/IoPorts.su
Duet3/src/Hardware/NonVolatileMemory.su
Duet3/src/Hardware/SAME70/Devices.su
Duet3/src/Hardware/SAME70/Ethernet/GmacInterface.su
Duet3/src/Hardware/SAME70/Ethernet/ksz8081rna/subdir.mk
Duet3/src/Hardware/SAME70/Ethernet/subdir.mk
Duet3/src/Hardware/SAME70/Main.su
Duet3/src/Hardware/SAME70/subdir.mk
Duet3/src/Hardware/SharedSpi/SharedSpiClient.su
Duet3/src/Hardware/SharedSpi/SharedSpiDevice.su
Duet3/src/Hardware/SharedSpi/subdir.mk
Duet3/src/Hardware/SoftwareReset.su
Duet3/src/Hardware/subdir.mk
Duet3/src/Heating/FOPDT.su
Duet3/src/Heating/Heat.su
Duet3/src/Heating/Heater.su
Duet3/src/Heating/HeaterMonitor.su
Duet3/src/Heating/LocalHeater.su
Duet3/src/Heating/RemoteHeater.su
Duet3/src/Heating/Sensors/AdditionalOutputSensor.su
Duet3/src/Heating/Sensors/CpuTemperatureSensor.su
Duet3/src/Heating/Sensors/CurrentLoopTemperatureSensor.su
Duet3/src/Heating/Sensors/DhtSensor.su
Duet3/src/Heating/Sensors/LinearAnalogSensor.su
Duet3/src/Heating/Sensors/RemoteSensor.su
Duet3/src/Heating/Sensors/RtdSensor31865.su
Duet3/src/Heating/Sensors/SensorWithPort.su
Duet3/src/Heating/Sensors/SpiTemperatureSensor.su
Duet3/src/Heating/Sensors/subdir.mk
Duet3/src/Heating/Sensors/TemperatureSensor.su
Duet3/src/Heating/Sensors/Thermistor.su
Duet3/src/Heating/Sensors/ThermocoupleSensor31855.su
Duet3/src/Heating/Sensors/ThermocoupleSensor31856.su
Duet3/src/Heating/Sensors/TmcDriverTemperatureSensor.su
Duet3/src/Heating/subdir.mk
Duet3/src/Heating/TemperatureError.su
Duet3/src/InputMonitors/InputMonitor.su
Duet3/src/InputMonitors/subdir.mk
Duet3/src/libc/strptime.su
Duet3/src/libc/subdir.mk
Duet3/src/libcpp/eh_alloc.su
Duet3/src/libcpp/subdir.mk
Duet3/src/libcpp/vterminate.su
Duet3/src/Libraries/Fatfs/diskio.su
Duet3/src/Libraries/Fatfs/fattime_rtc.su
Duet3/src/Libraries/Fatfs/subdir.mk
Duet3/src/Libraries/sd_mmc/sd_mmc_spi.su
Duet3/src/Libraries/sd_mmc/subdir.mk
Duet3/src/Libraries/sha1/subdir.mk
Duet3/src/Linux/DataTransfer.su
Duet3/src/Linux/LinuxInterface.su
Duet3/src/Linux/subdir.mk
Duet3/src/Movement/BedProbing/Grid.su
Duet3/src/Movement/BedProbing/RandomProbePointSet.su
Duet3/src/Movement/BedProbing/subdir.mk
Duet3/src/Movement/DDA.su
Duet3/src/Movement/DDARing.su
Duet3/src/Movement/DriveMovement.su
Duet3/src/Movement/ExtruderSpeedCtrl/ExtruderSpeedCtrl.su
Duet3/src/Movement/ExtruderSpeedCtrl/subdir.mk
Duet3/src/Movement/HeightControl/HeightController.su
Duet3/src/Movement/HeightControl/subdir.mk
Duet3/src/Movement/InputShaper.su
Duet3/src/Movement/Kinematics/CoreKinematics.su
Duet3/src/Movement/Kinematics/FiveBarScaraKinematics.su
Duet3/src/Movement/Kinematics/HangprinterKinematics.su
Duet3/src/Movement/Kinematics/Kinematics.su
Duet3/src/Movement/Kinematics/LinearDeltaKinematics.su
Duet3/src/Movement/Kinematics/PolarKinematics.su
Duet3/src/Movement/Kinematics/RotaryDeltaKinematics.su
Duet3/src/Movement/Kinematics/RoundBedKinematics.su
Duet3/src/Movement/Kinematics/ScaraKinematics.su
Duet3/src/Movement/Kinematics/subdir.mk
Duet3/src/Movement/Kinematics/ZLeadscrewKinematics.su
Duet3/src/Movement/Move.su
Duet3/src/Movement/RawMove.su
Duet3/src/Movement/StepperDrivers/DriverMode.su
Duet3/src/Movement/StepperDrivers/subdir.mk
Duet3/src/Movement/StepperDrivers/TMC22xx.su
Duet3/src/Movement/StepperDrivers/TMC2660.su
Duet3/src/Movement/StepperDrivers/TMC51xx.su
Duet3/src/Movement/StepTimer.su
Duet3/src/Movement/subdir.mk
Duet3/src/Networking/FtpResponder.su
Duet3/src/Networking/HttpResponder.su
Duet3/src/Networking/LwipEthernet/GMAC/ethernet_sam.su
Duet3/src/Networking/LwipEthernet/GMAC/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/api/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/apps/mdns/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/apps/netbiosns/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/core/ipv4/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/core/ipv6/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/core/subdir.mk
Duet3/src/Networking/LwipEthernet/Lwip/src/netif/subdir.mk
Duet3/src/Networking/LwipEthernet/LwipEthernetInterface.su
Duet3/src/Networking/LwipEthernet/LwipSocket.su
Duet3/src/Networking/LwipEthernet/subdir.mk
Duet3/src/Networking/Network.su
Duet3/src/Networking/NetworkBuffer.su
Duet3/src/Networking/NetworkInterface.su
Duet3/src/Networking/NetworkResponder.su
Duet3/src/Networking/subdir.mk
Duet3/src/Networking/TelnetResponder.su
Duet3/src/Networking/UploadingNetworkResponder.su
Duet3/src/ObjectModel/GlobalVariables.su
Duet3/src/ObjectModel/ObjectModel.su
Duet3/src/ObjectModel/subdir.mk
Duet3/src/ObjectModel/Variable.su
Duet3/src/Platform/Heap.su
Duet3/src/Platform/Logger.su
Duet3/src/Platform/OutputMemory.su
Duet3/src/Platform/Platform.su
Duet3/src/Platform/PortControl.su
Duet3/src/Platform/RepRap.su
Duet3/src/Platform/Roland.su
Duet3/src/Platform/Scanner.su
Duet3/src/Platform/subdir.mk
Duet3/src/Platform/Tasks.su
Duet3/src/PrintMonitor/PrintMonitor.su
Duet3/src/PrintMonitor/subdir.mk
Duet3/src/RepRapFirmware.su
Duet3/src/Storage/CRC16.su
Duet3/src/Storage/CRC32.su
Duet3/src/Storage/FileInfoParser.su
Duet3/src/Storage/FileStore.su
Duet3/src/Storage/MassStorage.su
Duet3/src/Storage/subdir.mk
Duet3/src/subdir.mk
Duet3/src/Tools/Filament.su
Duet3/src/Tools/Spindle.su
Duet3/src/Tools/subdir.mk
Duet3/src/Tools/Tool.su
Duet3/StallDetectionEndstop.s
Duet3/stats.s
Duet3/StepTimer.s
Duet3/StraightProbeSettings.s
Duet3/StringParser.s
Duet3/strptime.s
Duet3/SwitchEndstop.s
Duet3/sys.s
Duet3/Tasks.s
Duet3/tcp.s
Duet3/tcp_in.s
Duet3/tcp_out.s
Duet3/tcpip.s
Duet3/TelnetResponder.s
Duet3/TemperatureError.s
Duet3/TemperatureSensor.s
Duet3/Thermistor.s
Duet3/ThermocoupleSensor31855.s
Duet3/ThermocoupleSensor31856.s
Duet3/timeouts.s
Duet3/TMC22xx.s
Duet3/TMC2660.s
Duet3/TMC51xx.s
Duet3/TmcDriverTemperatureSensor.s
Duet3/Tool.s
Duet3/Trigger.s
Duet3/udp.s
Duet3/UploadingNetworkResponder.s
Duet3/Variable.s
Duet3/vterminate.s
Duet3/WordCopyApplet.s
Duet3/WordCopyArm.s
Duet3/zepif.s
Duet3/ZLeadscrewKinematics.s
Duet3/ZProbe.s
Duet3/ZProbeEndstop.s
